/* Variables */

:root{
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-light-grey: #EEEEEE;
    --basic-dark-grey: #666666;
    --basic-grey: #444444;
    --special-light-red-gradient: linear-gradient(0deg, #D7373B, #D7373B);
    --special-grey-gradient: linear-gradient(0deg, #E1E1E1, #E1E1E1);
    --special-red-gradient: linear-gradient(0deg, #E74246, #E74246);
    --special-grey-border: #C1C1C1;
    --special-white: rgba(255, 255, 255, 0.3);
    --special-black: rgba(0, 1, 1, 0.1);
    --special-light-red: #FB565A; 
    --special-light-green: #00CA74;
    --special-green: #00BC6C;
    --special-dark-green: #00AA62;
    --special-light-yellow: #EFC849;
    --special-yellow: #EAB534;
    --special-dark-yellow: #E5A722;
    --special-light-grey: #E1E1E1;
    --sprecial-red: #E74246;
    --special-dark-red: #D7373B;
    --special-dark-grey: #4D4D4D;
    --special: #D5D5D5;
    --special-light: #DFDFDF;
    --special-blue: #283136;
    --special-grey: #444444;
    --special-button-grey: #DBDBDB;
    --special-scale-grey: #D7DCDF;
    --special-middle-grey: #ABABAB;
    --special-shadow: rgba(0, 0, 0, 0.15);
    --special-modal-close: rgba(251, 86, 90, 0.3);
    --special-input: rgba(215, 220, 222, 1);
}

/* Basic */
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black); 
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--basic-white);
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
    padding: 0;
}

.page{
    height: 100%;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* header */

.main-header{
    background-color: var(--basic-light-grey);
    padding-top: 50px;
}
.catalog{
    padding-bottom: 100px;
}
.main-navigation{
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns:  160px 1fr 160px;
    column-gap: 30px;
    margin-top: 25px;
}
.main-navigation-logo a{
    display: block;
}
.main-navigation-logo:hover{
    opacity: 0.7;
}
.main-navigation-logo:active{
    opacity: 0.3;
}
.site-navigation{
    justify-self: center;
    min-width: 437px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.site-navigation li.now{
   position: relative;
}
.site-navigation li.now::before{
    content: "";
    position: absolute;
    width: 73px;
    height: 2px;
    bottom: 0;
    left: 1px;
    background-color: var(--special-dark-red);
}
.user-navigation{
    justify-self: end;
    margin-top: 25px;
    position: relative;
}
.user-navigation svg{
    position: absolute;
    bottom: 29px;
    left: -40px;
}
.main-navigation a{
    color: var(--basic-black);
}
.main-navigation a:hover{
    color: var(--special-light-red);
}
.main-navigation a:active{
    opacity: 0.3;
}
.active-basket{
    position: relative;
}
.active-basket::before{
    content: "";
    position: absolute;
    width: 112px;
    height: 2px;
    background-color: var(--special-light-red);
    left: -37px;
    top: 40px;
}
.slider ul{
    margin: 0;
}
.slider{
    margin: 0;
    padding: 0;
    position: relative;
}
.slide-hidden{
    display: none;
}
.slider-current{
    display: block;
}
.slider-title{
    font-weight: 500;
    line-height: 55px;
    font-size: 55px;
    width: 538px;
    margin: 0;
    padding-top: 78px;
}
.slider-text{
    color: var(--special-blue);
    width: 400px;
    margin-top: 38px;
}
.slide-button{
    background-color: var(--special-light-red);
    color: var(--basic-white);
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 17px 54px 15px;
    border-radius: 3px;
    margin-top: 38px;
}
.slide-button:hover{
    background-color: var(--sprecial-red);
}
.slide-button:active{
    background-color: var(--special-dark-red);
    box-shadow: inset 0px 3px 0px var(--special-black);
    color: var(--special-white);
}
.slider-list li{
    padding-bottom: 78px;
}
.slider-item:nth-child(1){
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: right;

}
.slider-item:nth-child(2){
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: right;
}
.slider-item:nth-child(3){
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: right;
}
.slider-controls{
    position: absolute;
    bottom: 96px;
    left: 536px;
    display: flex;
    width: 88px;
    justify-content: space-between;
}
.slider-controls button{
    position: relative;
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%; 
    border: none;
    outline: none;
}
.slider-controls button.active::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    bottom: 5px;
    left: 5px;
    border: 2px solid var(--special-grey-border);
    box-sizing: border-box;
}



/* main */
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.order{
    height: 507px;
    margin-top: 80px;
    background-image: url(../img/horizontal.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.order-logo{
    width: 300px;
    height: 146px;
}
.order-list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}
.order p{
    width: 260px;
    margin-bottom: 49px;
    color: var(--special-blue);
}

.order h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-bottom: 25px;
}

.order a{
    display: inline-block;
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
    padding: 17px 40px 15px 39px;
    text-transform: uppercase;
    margin: 0;
}
.order-list button:active{
    color: var(--special-white);
}
.order-button-web{
    background-color: var(--special-light-red);
}
.order-button-web:hover{
    background-color: var(--sprecial-red);
}
.order-button-web:active{
    background-color: var(--special-dark-red);
    box-shadow: inset 0px 3px 0px var(--special-black);
    color: var(--special-white);
}
.order-button-apps{
    background-color: var(--special-light-green);
}
.order-button-apps:hover{
    background-color: var(--special-green);
}
.order-button-apps:active{
    background-color: var(--special-dark-green);
    box-shadow: inset 0px 3px 0px var(--special-black);
    color: var(--special-white);
}
.order-button-presentation{
    background-color: var(--special-light-yellow);
}
.order-button-presentation:hover{
    background-color: var(--special-yellow);
}
.order-button-presentation:active{
    background-color: var(--special-dark-yellow);
    box-shadow: inset 0px 3px 0px var(--special-black);
    color: var(--special-white);
}
.info-container{
    width: 651px;
}
.info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 525px;
}
.info-title{
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 32px;
    margin: 0;
    margin-top: 78px;
}
.info p{
    color: var(--special-blue);
}
.info-first-text{
    color: var(--special-blue);
    padding-bottom: 20px;
}
.info-text{
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
}
.info-list{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 32px;
}
.info-list li{
    position: relative;
    margin-top: 17px;
}
.info-list li::before {
    content: "";
    position: absolute;
    left: -32px;
    bottom: 11px;
    width: 25px;
    height: 2px;
    background-color: var(--special-light-red);
  }
.second-logo{
    width: 360px;
    height: 208px;
    margin-top: 39px;
}
.logo-container{
    justify-self: end;
}
.definition-list{
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.definition-list-text{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.definition-list dt{
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    grid-row: 1/2;
}
.definition-list dd{
    color: var(--special-blue);
    line-height: 18px;
    margin: 0;
}
.site{
    border-bottom: 2px solid var(--special-light-grey);
    border-top: 2px solid var(--special-light-grey);
}
.site-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    list-style: none;
    padding-top: 46px;
    padding-bottom: 44px;
}


.bg-vertical{
    position: relative;
}
.bg-vertical::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-light-grey);
    bottom: 20px;
}
.bg-vertical-pink{
    position: relative;
}
.bg-vertical-pink::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-light-grey);
    bottom: 3px;
} 

.site-list a{
    opacity: 0.2;
    margin-left: 52px;
}
.site-list a:hover{
    opacity: 1;
}
.site-list a:active{
    opacity: 0.1;
}

.modal-form{
    width: 960px;
    height: 590px;
    background-color: var(--basic-white);
    position: fixed;
    bottom: 180px;
    left: 25%;
    margin: 0 auto;
    display: none;
}

.modal-form h2{
    line-height: 53px;
    font-size: 43px;
    font-weight: 700;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 37px;
    margin-left: 100px;
}
.user-form{
    width: 760px;
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    margin-left: 100px; 
}
.user-form label{
    font-weight: 700;
}
.user-form input[type="text"],
.user-form input[type="email"] {
    box-sizing: border-box;
    width: 360px;
    padding-top: 14px;
    padding-right: 40px;
    padding-bottom: 14px;
    padding-left: 16px;
    color: var(--basic-grey);
    line-height: 18px;
    opacity: 0.5;
    background-color: var(--basic-white);
    border: 2px solid var(--special-input);
}
.user-form input[type="free-text"]{
    box-sizing: border-box;
    width: 760px;
    padding-top: 14px;
    padding-right: 40px;
    padding-bottom: 84px;
    padding-left: 16px;
    color: var(--basic-grey);
    line-height: 18px;
    opacity: 0.5;
    background-color: var(--basic-white);
    border: 2px solid var(--special-input);
}
.button-send{
    background-color: var(--special-light-red);
    text-transform: uppercase;
    line-height: 18px;
    color: var(--basic-white);
    border-radius: 3px;
    text-align: center;
    padding: 16px;
    width: 259px;
    border: none;
    outline: none;
    margin-left: 100px;
    margin-top: 37px;
    cursor: pointer;
}
.button-send:hover{
    background-color: var(--sprecial-red);
}
.button-send:active{
    background-color: var(--special-dark-red);
    box-shadow: inset 0px 3px 0px var(--special-black);
    color: var(--special-white);
}
.modal-close{
    position: absolute;
    top: 78px;
    right: 90px;
    width: 21px;
    height: 21px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--basic-white);
}
.modal-close::before,
.modal-close::after{
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--special-modal-close);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

  

/* catalog */


.filter-item {
    margin: 0;
    padding: 0;
    border: none;
  }

.main-title-catalog{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}
.catalog-page{
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    padding-top: 50px;
}
.form-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

/* Фильтр стоимости */

.cost-fieldset{
    margin: 0;
    padding: 0;
    border: none;
    padding-bottom: 48px;
}
.range-filter{
    width: 260px;
    margin-top: 49px;
  }
.range-controls{
    position: relative;
    height: 41px;
    background-color: var(--basic-light-grey);
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.range-controls .bar{
    width: 30%;
    margin-left: 20%;
    height: 2px;
    background: var(--special-light-green);
  }
.range-controls .scale{
    height: 2px;
    background: var(--special-scale-grey);
}
.range-controls .toggle{
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--special-middle-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--special-shadow);
    cursor: pointer;
}
.range-controls .toggle-min{
    left: 20%;
}
.range-controls .toggle-max{
    left: 50%;
}
.price-controls{
    display: flex;
    justify-content: space-between;
}  
.price-controls label{
    text-transform: uppercase;
}
.price-controls input{
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--special-blue);
    border: none;
    border-radius: 5px;
    background: var(--basic-light-grey);
}
/* Сетки */
.grid{
    border: none;
    padding: 0;
    padding-bottom: 43px;
}

.marker{
    line-height: 20px;
    color: var(--special-blue);
}
.filter-option {
    padding-left: 44px;
    margin-bottom: 19px;
  }
.filter-option label{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.filter-input-checkbox + label::before{
    content: "";
    position: absolute;
    left: -42px;
    top: -2px;
    width: 19px;
    height: 19px;
    border: 2px solid var(--special-dark-grey);
    border-radius: 3px;
    opacity: 0.4;
}
.filter-input-checkbox:checked + label::before{
    border: none ;
}
.filter-input-checkbox:checked + label::after{
    content: "";
    position: absolute;
    left: -42px;
    top: -2px;
    width: 25px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -44px;
    top: -4px;
    width: 21px;
    height: 21px;
    border: 4px solid var(--special-dark-grey);
    border-radius: 50%;
    opacity: 0.4;
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -35px;
    width: 11px;
    height: 11px;
    background-color: var(--special-dark-grey);
    border-radius: 50%;
    opacity: 0.4;
}


.cost-fieldset ul{
    line-height: 18px;
    color: var(--special-blue);
    text-transform: uppercase;
}
.show{
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    padding: 17px 88px 15px 89px;
    border: none;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
}
.show:hover{
    background-color: var(--special);
}
.show:active{
    background-color: var(--special-light);
}
.sorting-list-block{
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
}
.sorting-list{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 272px;
    padding-left: 40px;
}
.sorting{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    font-size: 18px;
    margin: 0;
}

.image-sites-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    justify-self: end;
    row-gap: 71px;
    margin-top: 88px;
}
.site-list-item{
    position: relative;
}

.site-list-item::before{
    content: "";
    position: absolute;
    width: 360px;
    height: 40px;
    background-image: url(../img/card.svg);
    top: -40px;
    left: -1px;
}
.site-list-item:hover::before{
    background-image: url(../img/card-hover.svg);
}
.sorting-list a{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    font-family: inherit;
    opacity: 0.3;
}
.sorting-list a.pressed{
    opacity: 1;
}

.pages-list{
    margin: 0;
    padding-top: 55px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 442px;
}
.pages-list a{
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
    display: block;
}
.pages-list a.actual{
    background-color: var(--basic-white);
    border: 3px solid var(--special-button-grey);
    box-sizing: border-box;
    padding: 14px 17px 12px 20px;
}
.pages-list a:hover{
    background-color: var(--special-light);
}
.pages-list a:active{
    background-color: var(--special);
}
.pages-list-count{
    padding: 17px 20px 15px 20px;
}
.pages-list-next{
    padding: 17px 78px 15px 77px;
}


/* footer */

 .footer-map{
    position: relative;
    height: 419px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: center;
} 
.footer-map::before{
    content: "";
    background-image: url(../img/map-marker.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 86px;
    left: 1035px;
    width: 231px;
    height: 190px;
}

.footer-text{
    margin-left: 50px;
}
.footer-contacts{
    position: relative;
    width: 319px;
    height: 308px;
    background-color: var(--basic-white);
    left: 350px;
    top: 49px;
    margin: 0;
    padding: 0;
}
.contacts-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding-top: 49px;
}
.contacts-adress{
    color: var(--basic-dark-grey);
    line-height: 18px;
    margin-bottom: 0;
}
.footer-phone{
    text-decoration: none;
    color: var(--basic-dark-grey);
    line-height: 18px;
}
.footer-button{
    background-color: var(--special-light-red);
    text-transform: uppercase;
    line-height: 18px;
    color: var(--basic-white);
    border-radius: 3px;
    display:block;
    text-align: center;
    padding: 16px 22px;
    width: 175px;
    margin-top: 38px;
}
.footer-button:hover{
    background-color: var(--sprecial-red);
}
.footer-button:active{
    background-color: var(--special-dark-red);
    box-shadow: inset 0px 3px 0px var(--special-black);
    color: var(--special-white);
}

.socials-button-list a{
    width: 81px;
    height: 81px;
    background: var(--special-grey-gradient);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
}
.footer-socials{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.socials-button-list{
    width: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    padding-right: 140px;
}
.socials-button img{
    margin: auto;
}
.socials-button-list a:hover{
    background: var(--special-red-gradient);
}
.socials-button-list a:active {
    background: var(--special-light-red-gradient);
    box-shadow: inset 0px 3px 0px var(--special-black);
}
.socials-button-list a:active img{
    opacity: 0.3;
}


.footer-promo h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.footer-promo p{
    line-height: 22px;
    color: var(--special-grey);
}
 
.sorting-triangl-list{
    padding: 0;
    margin: 0;
    width: 40px;
    height: 11px;
    position: relative;
}

.triangl-top::after{
    content: ''; 
    position: absolute;
    border: 5px solid transparent;
    border-top: 11px solid var(--basic-black);
    left: 0px;
    bottom: -12px;
    cursor: pointer;
}

.triangl-down::after {
    content: ''; 
    position: absolute;
    border: 5px solid transparent;
    border-bottom: 11px solid var(--basic-black); 
    right: 6px;
    top: 2px;
    opacity: 0.2;
} 