/* Variables */

:root{
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-light-grey: #EEEEEE;
    --basic-dark-grey: #666666;
    --special-light-red: #FB565A; 
    --special-light-green: #00CA74;
    --special-green: #00BC6C;
    --special-dark-green: #00AA62;
    --special-light-yellow: #EFC849;
    --special-yellow: #EAB534;
    --special-dark-yellow: #E5A722;
    --special-light-grey: #E1E1E1;
    --sprecial-red: #E74246;
    --special-dark-red: #D7373B;
    --special-dark-grey: #4D4D4D;
    --special: #D5D5D5;
    --special-light: #DFDFDF;
    --special-blue: #283136;
    --special-grey: #444444;
}

/* Basic */
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black); 
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}
/* header */

.main-header{
    background-color: var(--basic-light-grey);
}
.main-navigation{
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}
.main-navigation a{
    color: var(--basic-black);
}
.main-navigation a:hover{
    color: var(--special-light-red);
}
.main-navigation a:active{
    opacity: 0.3;
}

/* main */

.order h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}
.order p{
    color: var(--special-blue);
}
.order a{
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
    padding: 17px 40px 15px 39px;
    text-transform: uppercase;
}

.order-button-web{
    background-color: var(--special-light-red);
}
.order-button-web:hover{
    background-color: var(--sprecial-red);
}
.order-button-web:active{
    background-color: var(--special-dark-red);
}
.order-button-apps{
    background-color: var(--special-light-green);
}
.order-button-apps:hover{
    background-color: var(--special-green);
}
.order-button-apps:active{
    background-color: var(--special-dark-green);
}
.order-button-presentation{
    background-color: var(--special-light-yellow);
}
.order-button-presentation:hover{
    background-color: var(--special-yellow);
}
.order-button-presentation:active{
    background-color: var(--special-dark-yellow);
}

/* catalog */

.main-title-catalog{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}
.hidden{
    display: none;
}
.form-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
.cost-fieldset{
    border: none;
}
.grid{
    border: none;
}
.features{
    border: none;
}
.marker{
    line-height: 20px;
    color: var(--special-blue);
}
.cost-fieldset ul{
    line-height: 18px;
    color: var(--special-blue);
    text-transform: uppercase;
}
.show{
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    padding: 17px 88px 15px 89px;
    border: none;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
}
.show:hover{
    background-color: var(--special);
}
.show:active{
    background-color: var(--special-light);
}

.sorting-list a{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
}
.shorting-list a:active{
    opacity: none;
}
.pages-list a{
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
}
.pages-list a:hover{
    background-color: var(--special-light);
}
.pages-list a:active{
    background-color: var(--special);
}
/* .pages-list-count{
    padding: 17px 20px 15px 20px;
}
.pages-list-next{
    padding: 17px 78px 15px 77px;
} */

/* footer */

.info-title{
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
.info p{
    color: var(--special-blue);
}
.info-text{
    font-weight: 700;
    text-transform: uppercase;
}

.definition-list-text{
    text-transform: uppercase;
    font-weight: 700;
}

.definition-list dt{
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}
.definition-list dd{
    color: var(--special-blue);
    line-height: 18px;
}

.site-list li{
    opacity: 0.2;
}
.site-list li:hover{
    opacity: 1;
}
.site-list li:active{
    opacity: 0.1;
}

.contacts-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
.contacts-adress{
    color: var(--basic-dark-grey);
    line-height: 18px;
}
.footer-phone{
    text-decoration: none;
    color: var(--basic-dark-grey);
    line-height: 18px;
}
.footer-button{
    background-color: var(--special-light-red);
    text-transform: uppercase;
    line-height: 18px;
    color: var(--basic-white);
    padding: 16px 44px;
    border-radius: 3px;
}
.footer-button:hover{
    background-color: var(--sprecial-red);
}
.footer-button:active{
    background-color: var(--special-dark-red);
    opacity: 0.3;
}

.socials-button-list a{
    width: 81px;
    height: 81px;
    background-color: var(--special-light-grey);
    border-radius: 50%;
    display: flex;
}

.socials-button img{
    margin: auto;
}
.socials-button-list a:hover{
    background-color: var(--sprecial-red);
}
.socials-button-list a:active{
    background-color: var(--special-dark-red);
}
.socials-button-list a img:active{
    opacity: 0.3;
}

.footer-promo h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.footer-promo p{
    line-height: 22px;
    color: var(--special-grey);
}

/* .triangl-top{
   
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #231F20;
   }
.triangl-top::after {
    content: ''; 
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid black;
   }
}
.triangl-down{
    
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #231F20;
   }
.triangl-down::after {
    content: ''; 
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid black; 
   }
} */