/* Variables */

:root{
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-light-grey: #EEEEEE;
    --basic-dark-grey: #666666;
    --special-light-red: #FB565A; 
    --special-light-green: #00CA74;
    --special-green: #00BC6C;
    --special-dark-green: #00AA62;
    --special-light-yellow: #EFC849;
    --special-yellow: #EAB534;
    --special-dark-yellow: #E5A722;
    --special-light-grey: #E1E1E1;
    --sprecial-red: #E74246;
    --special-dark-red: #D7373B;
    --special-dark-grey: #4D4D4D;
    --special: #D5D5D5;
    --special-light: #DFDFDF;
    --special-blue: #283136;
    --special-grey: #444444;
}

/* Basic */
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black); 
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
    padding: 0;
}

.page{
    height: 100%;
}
/* header */

.main-header{
    background-color: var(--basic-light-grey);
}
.main-navigation{
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns:  160px 1fr 160px;
    column-gap: 30px;
}
.main-navigation-logo{
    padding-top: 49px;
}
.site-navigation{
    justify-self: center;
    min-width: 437px;
    margin: 0;
    padding-top: 75px;
    display: flex;
    justify-content: space-around;
}

.user-navigation{
    justify-self: end;
    padding-top: 75px;
}
.user-navigation svg{
    margin-right: 20px;
}

.main-navigation a{
    color: var(--basic-black);
}
.main-navigation a:hover{
    color: var(--special-light-red);
}
.main-navigation a:active{
    opacity: 0.3;
}
.main-navigation a:focus{
    border-bottom: 2px solid black;
}
.slider{
    margin: 0;
    padding: 0;
    position: relative;
}
.slide-hidden{
    display: none;
}
.slider-current{
    display: block;
}
.slider-title{
    font-weight: 500;
    line-height: 55px;
    font-size: 55px;
    width: 538px;
    margin: 0;
    padding-top: 78px;
}
.slider-text{
    color: var(--special-blue);
    width: 400px;
    margin-top: 38px;
}
.slide-button{
    background-color: var(--special-light-red);
    color: var(--basic-white);
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 17px 54px 15px;
    border-radius: 3px;
    margin-top: 38px;
    margin-bottom: 80px;
}

.slider-item-first{
    background-image: url("/img/slide1.png");
    background-repeat: no-repeat;
    background-position: right;

}
.slider-item-second{
    background-image: url(/img/slide2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.slider-item-third{
    background-image: url(/img/slide3.png);
    background-repeat: no-repeat;
    background-position: right;
}
.slider-controls{
    position: absolute;
    bottom: 96px;
    left: 536px;
    display: flex;
    width: 88px;
    justify-content: space-between;
}
.slider-controls button{
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%; 
    border: none;
}



/* main */
.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.order{
    height: 507px;
    margin-top: 80px;
    background-image: url(/img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.order-logo{
    width: 300px;
    height: 146px;
}
.order-list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}
.order p{
    width: 260px;
    margin-bottom: 49px;
    color: var(--special-blue);
}

.order h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-bottom: 25px;
}

.order a{
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
    padding: 17px 40px 15px 39px;
    text-transform: uppercase;
    margin: 0;
}
.order-button-web{
    background-color: var(--special-light-red);
}
.order-button-web:hover{
    background-color: var(--sprecial-red);
}
.order-button-web:active{
    background-color: var(--special-dark-red);
}
.order-button-apps{
    background-color: var(--special-light-green);
}
.order-button-apps:hover{
    background-color: var(--special-green);
}
.order-button-apps:active{
    background-color: var(--special-dark-green);
}
.order-button-presentation{
    background-color: var(--special-light-yellow);
}
.order-button-presentation:hover{
    background-color: var(--special-yellow);
}
.order-button-presentation:active{
    background-color: var(--special-dark-yellow);
}
.info-container{
    width: 651px;
}
.info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: url(/img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 525px;
}
.info-title{
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 32px;
    margin: 0;
    margin-top: 78px;
}
.info p{
    color: var(--special-blue);
}
.info-first-text{
    color: var(--special-blue);
    padding-bottom: 20px;
}
.info-text{
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
}

.info-list{
    list-style: url(/img/Rectangle11.svg);
    margin: 0;
    padding: 0;
    padding-left: 32px;
}
.info-list li{
    margin-top: 17px;
}
.second-logo{
    width: 360px;
    height: 208px;
    margin-top: 39px;
}
.logo-container{
    justify-self: end;
}
.definition-list{
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.definition-list-text{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.definition-list dt{
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    grid-row: 1/2;
}
.definition-list dd{
    color: var(--special-blue);
    line-height: 18px;
    margin: 0;
}
.site{
    background-image: url(/img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.site-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 80px;
    padding-bottom: 75px;
    align-items: center;
}

.site-list li{
    opacity: 0.2;
    margin-left: 52px;
}
.site-list li:hover{
    opacity: 1;
}
.site-list li:active{
    opacity: 0.1;
}


/* catalog */

.main-title-catalog{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    padding-bottom: 100px;
}
.catalog-page{
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
}
.form-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.cost-fieldset{
    border: none;
}
.grid{
    border: none;
}
.features{
    border: none;
    padding-bottom: 20px;
}
.marker{
    line-height: 20px;
    color: var(--special-blue);
}
.cost-fieldset ul{
    line-height: 18px;
    color: var(--special-blue);
    text-transform: uppercase;
}
.show{
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    padding: 17px 88px 15px 89px;
    border: none;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
}
.show:hover{
    background-color: var(--special);
}
.show:active{
    background-color: var(--special-light);
}
.sorting-list-block{
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
}
.sorting-list{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 272px;
    padding-left: 40px;
}
.sorting{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    font-size: 18px;
    margin: 0;
}
.image-sites-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    justify-self: end;
    row-gap: 30px;
}
.sorting-list a{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
}
.shorting-list a:active{
    opacity: none;
}
.pages-list{
    margin: 0;
    padding-top: 55px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    width: 442px;
}
.pages-list a{
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
}
.pages-list a:hover{
    background-color: var(--special-light);
}
.pages-list a:active{
    background-color: var(--special);
}
.pages-list-count{
    padding: 17px 20px 15px 20px;
}
.pages-list-next{
    padding: 17px 78px 15px 77px;
}

/* footer */

.footer-map{
    height: 416px;
}
.footer-contacts{
    width: 319px;
    min-height: 308px;
    width: 1160px;
    margin: 0 auto;
    padding: 54px 20px;
}
.contacts-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
.contacts-adress{
    color: var(--basic-dark-grey);
    line-height: 18px;
}
.footer-phone{
    text-decoration: none;
    color: var(--basic-dark-grey);
    line-height: 18px;
}
.footer-button{
    background-color: var(--special-light-red);
    text-transform: uppercase;
    line-height: 18px;
    color: var(--basic-white);
    padding: 16px 44px;
    border-radius: 3px;
}
.footer-button:hover{
    background-color: var(--sprecial-red);
}
.footer-button:active{
    background-color: var(--special-dark-red);
    opacity: 0.3;
}

.socials-button-list a{
    width: 81px;
    height: 81px;
    background-color: var(--special-light-grey);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
}
.footer-socials{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.socials-button-list{
    width: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    padding-right: 140px;
}
.socials-button img{
    margin: auto;
}
.socials-button-list a:hover{
    background-color: var(--sprecial-red);
}
.socials-button-list a:active{
    background-color: var(--special-dark-red);
}
.socials-button-list a img:active{
    opacity: 0.3;
}

.footer-promo h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.footer-promo p{
    line-height: 22px;
    color: var(--special-grey);
}

 .triangl-top{
   
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #231F20;
   }
.triangl-top::after {
    content: ''; 
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid black;
   }
}
.triangl-down{
    
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #231F20;
   }
.triangl-down::after {
    content: ''; 
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid black; 
   }
} 